/* -------------------------------------------------
    Dateselector
   ------------------------------------------------- */

.air-dateselector {
  background: var(--adts-background-color);
  border: 1px solid var(--adts-border-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: var(--adts-border-radius);
  box-sizing: content-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, max-content);
  grid-template-areas: var(--adts-grid-areas);
  font-family: var(--adts-font-family), sans-serif;
  font-size: var(--adts-font-size);
  color: var(--adts-color);
  width: var(--adts-width);
  position: absolute;
  transition: opacity var(--adts-transition-duration)
      var(--adts-transition-ease),
    transform var(--adts-transition-duration) var(--adts-transition-ease);
  z-index: var(--adts-z-index);

  &:not(.-custom-position-) {
    opacity: 0;
  }

  &.-from-top- {
    transform: translateY(calc(var(--adts-transition-offset) * -1));
  }
  &.-from-right- {
    transform: translateX(var(--adts-transition-offset));
  }
  &.-from-bottom- {
    transform: translateY(var(--adts-transition-offset));
  }
  &.-from-left- {
    transform: translateX(calc(var(--adts-transition-offset) * -1));
  }

  &.-active- {
    &:not(.-custom-position-) {
      transform: translate(0, 0);
      opacity: 1;
    }

    &.-custom-position- {
      transition: none;
    }
  }

  &.-inline- {
    border-color: var(--adts-border-color-inline);
    box-shadow: none;
    position: static;
    left: auto;
    right: auto;
    opacity: 1;
    transform: none;

    .air-dateselector--pointer {
      display: none;
    }
  }

  &.-is-mobile- {
    --adts-font-size: var(--adts-mobile-font-size);
    --adts-day-cell-height: var(--adts-mobile-day-cell-height);
    --adts-month-cell-height: var(--adts-mobile-month-cell-height);
    --adts-year-cell-height: var(--adts-mobile-year-cell-height);
    --adts-nav-height: var(--adts-mobile-nav-height);
    --adts-nav-action-size: var(--adts-mobile-nav-height);

    position: fixed;
    width: var(--adts-mobile-width);
    border: none;

    * {
      -webkit-tap-highlight-color: transparent;
    }

    .air-dateselector--pointer {
      display: none;
    }

    &:not(.-custom-position-) {
      transform: translate(-50%, calc(-50% + var(--adts-transition-offset)));
    }

    &.-active- {
      &:not(.-custom-position-) {
        transform: translate(-50%, -50%);
      }
    }
  }

  &.-custom-position- {
    transition: none;
  }
}

.air-dateselector-global-container {
  position: absolute;
  left: 0;
  top: 0;
}

.air-dateselector--pointer {
  --pointer-half-size: calc(var(--adts-pointer-size) / 2);

  position: absolute;
  width: var(--adts-pointer-size);
  height: var(--adts-pointer-size);
  z-index: -1;

  &:after {
    content: "";
    position: absolute;
    background: #fff;
    border-top: 1px solid var(--adts-border-color-inline);
    border-right: 1px solid var(--adts-border-color-inline);
    border-top-right-radius: var(--adts-poiner-border-radius);
    width: var(--adts-pointer-size);
    height: var(--adts-pointer-size);
    box-sizing: border-box;
  }

  //  Main axis
  // -------------------------

  .-top-left- &,
  .-top-center- &,
  .-top-right- &,
  [data-popper-placement^="top"] & {
    top: calc(100% - var(--pointer-half-size) + 1px);
    &:after {
      transform: rotate(135deg);
    }
  }

  .-right-top- &,
  .-right-center- &,
  .-right-bottom- &,
  [data-popper-placement^="right"] & {
    right: calc(100% - var(--pointer-half-size) + 1px);
    &:after {
      transform: rotate(225deg);
    }
  }

  .-bottom-left- &,
  .-bottom-center- &,
  .-bottom-right- &,
  [data-popper-placement^="bottom"] & {
    bottom: calc(100% - var(--pointer-half-size) + 1px);
    &:after {
      transform: rotate(315deg);
    }
  }

  .-left-top- &,
  .-left-center- &,
  .-left-bottom- &,
  [data-popper-placement^="left"] & {
    left: calc(100% - var(--pointer-half-size) + 1px);
    &:after {
      transform: rotate(45deg);
    }
  }

  //  Secondary axis
  // -------------------------

  .-top-left- &,
  .-bottom-left- & {
    left: var(--adts-pointer-offset);
  }
  .-top-right- &,
  .-bottom-right- & {
    right: var(--adts-pointer-offset);
  }
  .-top-center- &,
  .-bottom-center- & {
    left: calc(50% - var(--adts-pointer-size) / 2);
  }

  .-left-top- &,
  .-right-top- & {
    top: var(--adts-pointer-offset);
  }
  .-left-bottom- &,
  .-right-bottom- & {
    bottom: var(--adts-pointer-offset);
  }
  .-left-center- &,
  .-right-center- & {
    top: calc(50% - var(--adts-pointer-size) / 2);
  }
}

.air-dateselector--navigation {
  grid-area: nav;
}

.air-dateselector--content {
  box-sizing: content-box;
  padding: var(--adts-padding);
  grid-area: body;
}

/*  Overlay
   ------------------------------------------------- */

.air-dateselector-overlay {
  position: fixed;
  background: var(--adts-overlay-background-color);
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  opacity: 0;
  transition: opacity var(--adts-overlay-transition-duration)
      var(--adts-overlay-transition-ease),
    left 0s, height 0s, width 0s;
  transition-delay: 0s, var(--adts-overlay-transition-duration),
    var(--adts-overlay-transition-duration),
    var(--adts-overlay-transition-duration);
  z-index: var(--adts-overlay-z-index);

  &.-active- {
    opacity: 1;
    width: 100%;
    height: 100%;

    transition: opacity var(--adts-overlay-transition-duration)
        var(--adts-overlay-transition-ease),
      height 0s, width 0s;
  }
}
