/* -------------------------------------------------
    Dateselector
   ------------------------------------------------- */

.air-dts-portal {
  background: var(--adts-background-color);
  border: 1px solid var(--adts-border-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: var(--adts-border-radius);
  box-sizing: content-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, max-content);
  grid-template-areas: var(--adts-grid-areas);
  font-family: var(--adts-font-family), sans-serif;
  font-size: var(--adts-font-size);
  color: var(--adts-color);
  width: var(--adts-width);
  height: var(--adts-portal-height);
  position: absolute;
  transition: opacity var(--adts-transition-duration)
      var(--adts-transition-ease),
    transform var(--adts-transition-duration) var(--adts-transition-ease);
  z-index: var(--adts-z-index);

  &:not(.-custom-position-) {
    opacity: 0;
  }

  &.-from-top- {
    transform: translateY(calc(var(--adts-transition-offset) * -1));
  }
  &.-from-right- {
    transform: translateX(var(--adts-transition-offset));
  }
  &.-from-bottom- {
    transform: translateY(var(--adts-transition-offset));
  }
  &.-from-left- {
    transform: translateX(calc(var(--adts-transition-offset) * -1));
  }

  &.-active- {
    &:not(.-custom-position-) {
      transform: translate(0, 0);
      opacity: 1;
    }

    &.-custom-position- {
      transition: none;
    }
  }
}

.air-dts-portal-container {
  position: absolute;
  left: 0;
  top: 0;
}

.air-dts--content {
  box-sizing: content-box;
  padding: var(--adts-padding);
  grid-area: body;
}
