/* -------------------------------------------------
    Dateselector vars
   ------------------------------------------------- */

.air-dateselector {
  --ads-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --ads-font-size: 14px;
  --ads-width: 246px; // Day cell width will be equal to 34px
  --ads-z-index: 100;
  --ads-padding: 4px;
  --ads-grid-areas: "nav" "body";

  --ads-transition-duration: 0.3s;
  --ads-transition-ease: ease-out;
  --ads-transition-offset: 8px;

  --ads-background-color: #fff;
  --ads-background-color-hover: #f0f0f0;
  --ads-background-color-active: #eaeaea;
  --ads-background-color-selected-other-month-focused: #8ad5f4;
  --ads-background-color-selected-other-month: #a2ddf6;

  --ads-color: #4a4a4a;
  --ads-color-secondary: #9c9c9c;
  --ads-accent-color: #4eb5e6;
  --ads-color-current-date: var(--ads-accent-color);
  --ads-color-other-month: #dedede;
  --ads-color-disabled: #aeaeae;
  --ads-color-other-month-hover: #c5c5c5;

  --ads-border-color: #dbdbdb;
  --ads-border-color-inner: #efefef;
  --ads-border-radius: 4px;
  --ads-border-color-inline: #d7d7d7;

  --ads-nav-height: 32px;
  --ads-nav-arrow-color: var(--ads-color-secondary);
  --ads-nav-action-size: 32px;
  --ads-nav-color-secondary: var(--ads-color-secondary);

  --ads-day-name-color: #ff9a19;
  --ads-day-name-color-hover: #8ad5f4;

  --ads-day-cell-width: 1fr;
  --ads-day-cell-height: 32px;
  --ads-month-cell-height: 42px;
  --ads-year-cell-height: 56px;

  --ads-pointer-size: 10px;
  --ads-poiner-border-radius: 2px;
  --ads-pointer-offset: 14px;

  --ads-cell-border-radius: 4px;
  --ads-cell-background-color-hover: var(--ads-background-color-hover);
  --ads-cell-background-color-selected: #5cc4ef;
  --ads-cell-background-color-selected-hover: #45bced;

  --ads-btn-height: 32px;
  --ads-btn-color: var(--ads-accent-color);
  --ads-btn-color-hover: var(--ads-color);
  --ads-btn-border-radius: var(--ads-border-radius);
  --ads-btn-background-color-hover: var(--ads-background-color-hover);
  --ads-btn-background-color-active: var(--ads-background-color-active);

  --ads-time-track-height: 1px;
  --ads-time-track-color: #dedede;
  --ads-time-track-color-hover: #b1b1b1;
  --ads-time-thumb-size: 12px;
  --ads-time-padding-inner: 10px;
  --ads-time-day-period-color: var(--ads-color-secondary);

  --ads-mobile-font-size: 16px;
  --ads-mobile-nav-height: 40px;
  --ads-mobile-width: 320px;
  --ads-mobile-day-cell-height: 38px;
  --ads-mobile-month-cell-height: 48px;
  --ads-mobile-year-cell-height: 64px;
}

.air-dateselector-overlay {
  --ads-overlay-background-color: rgba(0, 0, 0, 0.3);
  --ads-overlay-transition-duration: 0.3s;
  --ads-overlay-transition-ease: ease-out;
  --ads-overlay-z-index: 99;
}
