/* -------------------------------------------------
    Dateselector body
   ------------------------------------------------- */

.air-dateselector-body {
  transition: all var(--ads-transition-duration) var(--ads-transition-ease);

  &.-hidden- {
    display: none;
  }
}

/*  Day names
   ------------------------------------------------- */

.air-dateselector-body--day-names {
  display: grid;
  grid-template-columns: repeat(7, var(--ads-day-cell-width));
  margin: 8px 0 3px;
}

.air-dateselector-body--day-name {
  color: var(--ads-day-name-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;

  &.-clickable- {
    cursor: pointer;

    &:hover {
      color: var(--ads-day-name-color-hover);
    }
  }
}

/*  Cells container
   ------------------------------------------------- */

.air-dateselector-body--cells {
  display: grid;
  &.-days- {
    grid-template-columns: repeat(7, var(--ads-day-cell-width));
    grid-auto-rows: var(--ads-day-cell-height);
  }
}
